<header class="main-header">
	<nav class="main-header__nav">
		<ul class="main-header__item-list">
			<li class="main-header__item">
				<a
					class="<%= pageTitle.search(/home/i) === 0 ? 'active' : '' %>"
					href="/"
					>Home</a
				>
			</li>
			<li class="main-header__item">
				<a
					class="<%= pageTitle.search(/products/i) === 0 ? 'active' : '' %>"
					href="/products"
					>Products</a
				>
			</li>
			<li class="main-header__item">
				<a
					class="<%= pageTitle.search(/cart/i) === 0 ? 'active' : '' %>"
					href="/cart"
					>Cart</a
				>
			</li>
			<li class="main-header__item">
				<a
					class="<%= pageTitle.search(/orders/i) === 0 ? 'active' : '' %>"
					href="/orders"
					>My Orders</a
				>
			</li>
			<li class="main-header__item">
				<a
					class="<%= pageTitle.search(/add/i) === 0 ? 'active' : '' %>"
					href="/admin/add-product"
					>Add Product</a
				>
			</li>
			<li class="main-header__item">
				<a
					class="<%= pageTitle.search(/admin/i) === 0 ? 'active' : '' %>"
					href="/admin/products"
					>Admin Products</a
				>
			</li>
		</ul>
	</nav>
</header>
