<div class="backdrop"></div>
<header class="main-header">
	<button id="side-menu-toggle">Menu</button>
	<nav class="main-header__nav">
		<ul class="main-header__item-list">
			<li class="main-header__item">
				<a class="<%= pageTitle.search(/home/i) === 0 ? 'active' : '' %>" href="/">Shop</a>
			</li>
			<li class="main-header__item">
				<a class="<%= pageTitle.search(/products/i) === 0 ? 'active' : '' %>" href="/products">Products</a>
			</li>
			<% if (isAuthenticated) { %>
			<li class="main-header__item">
				<a class="<%= pageTitle.search(/cart/i) === 0 ? 'active' : '' %>" href="/cart">Cart</a>
			</li>
			<li class="main-header__item">
				<a class="<%= pageTitle.search(/orders/i) === 0 ? 'active' : '' %>" href="/orders">My Orders</a>
			</li>
			<li class="main-header__item">
				<a class="<%= pageTitle.search(/add/i) === 0 ? 'active' : '' %>" href="/admin/product/new">Add
					Product</a>
			</li>
			<li class="main-header__item">
				<a class="<%= pageTitle.search(/admin/i) === 0 ? 'active' : '' %>" href="/admin/products">Admin
					Products</a>
			</li>
			<% } %>
		</ul>
		<ul class="main-header__item-list">
			<% if (!isAuthenticated) { %>
			<li class="main-header__item">
				<a class="<%= pageTitle.search(/login/i) === 0 ? 'active' : '' %>" href="/login">Login</a>
			</li>
			<li class="main-header__item">
				<a class="<%= pageTitle.search(/signup/i) === 0 ? 'active' : '' %>" href="/signup">Signup</a>
			</li>
			<% } else { %>
			<li class="main-header__item">
				<form action="/logout" method="post">
					<button class="btn" type="submit">Logout</button>
				</form>
			</li>
			<% } %>
		</ul>
	</nav>
</header>

<nav class="mobile-nav">
	<ul class="mobile-nav__item-list">
		<!-- <% if (!isAuthenticated) { %>
		<li class="mobile-nav__item">
			<a href="/login">Login</a>
		</li>
		<% } %> -->
		<li class="mobile-nav__item">
			<a class="<%= pageTitle.search(/home/i) === 0 ? 'active' : '' %>" href="/">Shop</a>
		</li>
		<li class="mobile-nav__item">
			<a class="<%= pageTitle.search(/products/i) === 0 ? 'active' : '' %>" href="/products">Products</a>
		</li>
		<% if (isAuthenticated) { %>
		<li class="mobile-nav__item">
			<a class="<%= pageTitle.search(/cart/i) === 0? 'active' : '' %>" href="/cart">Cart</a>
		</li>
		<li class="mobile-nav__item">
			<a class="<%= pageTitle.search(/orders/i) === 0 ? 'active' : '' %>" href="/orders">Orders</a>
		</li>
		<li class="mobile-nav__item">
			<a class="<%= pageTitle.search(/add/i) === 0 ? 'active' : '' %>" href="/admin/product/new">Add Product
			</a>
		</li>
		<li class="mobile-nav__item">
			<a class="<%= pageTitle.search(/admin/i) === 0 ? 'active' : '' %>" href="/admin/products">Admin Products
			</a>
		</li>
		<% } %>
	</ul>
	<ul class="mobile-nav__item-list">
		<% if (!isAuthenticated) { %>
		<li class="mobile-nav__item">
			<a class="<%= pageTitle.search(/login/i) === 0 ? 'active' : '' %>" href="/login">Login</a>
		</li>
		<li class="mobile-nav__item">
			<a class="<%= pageTitle.search(/signup/i) === 0 ? 'active' : '' %>" href="/signup">Signup</a>
		</li>
		<% } else { %>
		<li class="mobile-nav__item">
			<form action="/logout" method="post">
				<button class="btn" type="submit">Logout</button>
			</form>
		</li>
		<% } %>
	</ul>
</nav>
