<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../includes/head.ejs') %>
	<link rel="stylesheet" href="/css/form.css" />
	<link rel="stylesheet" href="/css/product.css" />
	<link rel="stylesheet" href="/css/button.css" />
</head>

<body>
	<%- include('../includes/navigation.ejs') %>

	<main>
		<form class="product-form" action="/admin/product/<% if (edit) { %>update<% } else { %>add<% } %>"
			method="POST">
			<div class="form-control">
				<label for="Title">Title</label>
				<input type="text" name="title" id="title" value="<% if (edit) { %><%= product.title %><% } %>" />
			</div>
			<div class="form-control">
				<label for="image">Image Url</label>
				<input type="text" name="image" id="image" value=<%= product.image %> />
			</div>
			<div class="form-control">
				<label for="price">Price</label>
				<input type="number" name="price" id="price"
					value="<% if (edit) { %><%= product.price %><% } else { %>9<% } %>" step="0.01" />
			</div>
			<div class="form-control">
				<label for="description">Description</label>
				<textarea name="description" id="description" rows="5">
<% if (edit) { %><%= product.description %><% } else { %>A fine book<% } %></textarea>
			</div>

			<% if (edit) { %>
			<input type="hidden" name="id" value="<%= product._id %>" />
			<% } %>
			<button class="btn" type="submit">
				<% if (edit) { %>Update Product <% } else { %> Add Product <% } %>
			</button>
		</form>
	</main>
</body>

</html>
